.home{
    width: 100%;
    height: auto;
    padding: 14vh 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../Assets/UserFormBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

/* @media(max-width:1050px){
    .home{
        justify-content: space-between;
        padding: 30px;
    }
}

@media(max-width:750px){
    .home{
        padding-top: 150px;
        flex-direction: column;
        gap: 100px;
        padding: 20px;
    }
}
@media(max-width:600px){
    .home{
        padding: 50px 10px;
        gap: 50px;
    }
}

@media(max-width:450px){
    .home{
        padding: 20px 10px;
        gap: 30px;
    }
} */