nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: 	#0c2658;  */
    background-color: #0c2d6af4;
    padding: 0 20px;
    position: fixed;
    z-index: 9999999999;
}

nav .logo {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
}

nav .logo img {
    width: 40px;
    height: 28px;
}

nav .logo a {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgba(154, 108, 50, 255), rgba(232, 217, 140, 255),
            rgba(149, 101, 44, 255));
    color: transparent;
    background-clip: text;
    display: inline-block;
}

nav .navLinks {
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
}

.navLinks a {
    color: white;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
}

.navLinks a:hover {
    transform: scale(1.2);
    /* font-size: 15px; */
}


nav .logout {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav .logout span {
    color: rgb(163, 163, 163);
}

nav .logout button {
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    /* border: 0.05px solid black; */
    /* color: #03215a;
    background-image: radial-gradient(#d1f5f9, #74c5ea, #0a54c2); */
    background-color: deeppink;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

nav .logout button:hover {
    transform: scale(1.1);
    /* box-shadow: 0px 0px 5px 0.5px #95d5f2; */
}

nav .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav .auth button {
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    /* border: 0.01px solid white; */
    /* color: #03215a;
    background-image: radial-gradient(#d1f5f9, #74c5ea, #0a54c2); */
    background-color: deeppink;
    /* color: white; */
    transition: 0.2s;
    cursor: pointer;
    /* border: none;
    background-image: linear-gradient(to right, rgba(154, 108, 50, 255), rgba(232, 217, 140, 255),
            rgba(149, 101, 44, 255)); */
}

nav .auth button:hover {
    transform: scale(1.07);
    /* box-shadow: 0px 0px 5px 1px #95d5f2; */
}

nav .auth button a {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

nav .hamburger {
    display: none;
}


@media(max-width:1000px) {
    
    nav .logo {
        width: 80%;
        z-index: -1;
    }
    nav .logo a{
        font-size: 22px;
    }

    nav .logout {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
    nav .navLinks {
        width: 30%;
        position: absolute;
        z-index: -1;
        height: 38vh;
        top: 3vh;
        right: -100%;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center; 
        padding: 5px;
    }

    .active{
        left: 70%;
        background-color: rgba(0, 0, 66, 0.995);
    }
}

@media(max-width:500px){
    nav{
        padding: 0 10px ;
    }

    nav .navLinks{
        width: 45%;
    }
    .active{
        left: 55%;
        background-color: rgba(0, 0, 66, 0.995);
    }
}