.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color:rgb(0, 10, 103);
    padding: 10px;
}

.footer .footerInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20px; */
    padding: 10px 30px;
}

.footerInfo .footerLogo {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerLogo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footerLogo .logo img {
    width: 40px;
    height: 28px;
}

.footerLogo .logo a {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgba(154, 108, 50, 255), rgba(232, 217, 140, 255),
            rgba(149, 101, 44, 255));
    color: transparent;
    background-clip: text;
    display: inline-block;
}


.footerInfo .footerContent {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerContent .contentTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent .contentTitle h2 {
    font-size: 24px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footerContent .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.footerContent .content .providings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.footerContent .content .providings p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    transition: 0.2s;
}
.footerContent .content .providings p:hover {
    transform: scale(1.05);
}


/* .footerContent .rights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights p{
    font-size: 12px;
    color: white;
} */


.footerInfo .footerImg {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.footerImg .footerIcons{
width: 30px;
height: 30px;
background: transparent;
color: white;
transition: all ease-in-out 0.3s;
}
.footerImg .footerIcons:hover{
transform: scale(1.1);
}



.footer .footerRights{
display: flex;
justify-content: center;
align-items: center;
padding: 10px 0px 5px;
}
.footerRights p{
    font-size: 10px;
    color: white;
}


@media(max-width:800px) {
    .footer {
        padding: 30px;
    }
    .footerLogo .logo a {
        font-size: 22px;
    }
    .footerContent .content .providings p {
        font-size: 14px;
    }
}

@media(max-width:700px) {
    .footer {
        flex-direction: column;
        gap: 50px;
    }

    .footerLogo {
        width: 100%;
    }
    .footerLogo .logo a {
        font-size: 24px;
    }

    .footerContent {
        width: 100%;
    }

    .footerContent .content {
        justify-content: space-evenly;
        gap: 0px;
    }

    .footerBtn {
        width: 100%;
    }

    .footerBtn a {
        width: 60%;
    }
}