@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary: #1aac83;
  --error: #e7195a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  /* background-color: #e2e1e1; */
  /* background-image: linear-gradient(to right, #5277ad, #658dcf, #b2cbf4); */
  font-family: "Poppins";
  background-image: url("../../client/src/Assets/lightBlueBG.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(to right, #5e779e, #8598b6, #bccce6); */
}

a{
  text-decoration: none;
}
